<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue';
import FormBantuan from '@/components/FormBantuan.vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from '@headlessui/vue'
import {usePenerimaBantuanStore} from '@/stores/penerima-bantuan'
import {get} from '@/helpers/utils'

const headers = ref<any>([
  {
    text: 'nama',
    value: 'name',
  },
  {
    text: 'nik',
    value: 'nik',
  },
  {
    text: 'NO Kartu Keluarga',
    value: 'kk',
  },
  {
    text: 'umur',
    value: 'age',
  },
  {
    text: 'Jenis Kelamin',
    value: 'gender',
  },
  {
    text: 'provinsi',
    value: 'province.name',
  },
  {
    text: 'Kabupaten/Kota',
    value: 'city.name',
  },
  {
    text: 'Kelurahan/Desa',
    value: 'district.name',
  },
  {
    text: 'alamat',
    value: 'address',
  },
  {
    text: 'Penghasilan Sebelum',
    value: 'penghasilan_sebelum',
  },
  {
    text: 'Penghasilan Setelah',
    value: 'penghasilan_setelah',
  },
  {
    text: 'alasan',
    value: 'reason',
  },
]);

const store = usePenerimaBantuanStore();

const items = computed(() => store.items)
// const items = [...Array(5)].map((_, index) => ({
//   index,
//   name: 'John Doe',
//   nik: '32732371239123',
//   kk: '32732371239123',
//   age: '28',
//   gender: 'Laki Laki',
//   province: 'Jawa Barat',
//   city: 'Kota Bandung',
//   district: 'Rancasari',
//   alamat: 'Jl Jakarta no 23',
//   penghasilan_sebelum: 'Rp 3.000.000',
//   penghasilan_setelah: 'Rp 2.000.000',
//   alasan: 'Pengurangan gaji',
// }));

const isOpen = ref(false)

const closeModal = () => (
  isOpen.value = false
)

const openModal = () => (
  isOpen.value = true
)
</script>

<template>
  <div class="p-11">
    <section class="py-1 bg-blueGray-50">
      <div class="w-full mx-auto mt-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ">
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <p class="text-xl font-bold">Daftar Penerima Bantuan Sosial</p>
              <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                <button
                  class="bg-indigo-500 text-white active:bg-indigo-600 text-sm font-bold uppercase px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                  @click="openModal"
                >
                  Tambah
                </button>
              </div>
            </div>
          </div>
          <div class="block w-full overflow-x-auto">
            <table class="items-center bg-transparent w-full border-collapse ">
              <thead>
                <tr>
                  <th
                    v-for="header in headers"
                    :key="header.value"
                    class="px-6 font-bold bg-indigo-50 text-indigo-500 align-middle border border-solid border-indigo-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left"
                  >
                    {{ header.text }}
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="(item, index) in items"
                  :key="index"
                  class="hover:bg-gray-50"
                >
                  <td
                    v-for="header in headers"
                    :key="header.value"
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    {{ get(item, header.value) }}
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </section>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-[1020px] transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              >
                <form-bantuan @closeModal="closeModal" />
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>