<script setup lang="ts">
import { computed, ref, toRefs, watch } from 'vue';
import {useAlertStore} from '@/stores/alert'

type Props = {
  modelValue?: boolean;
  variant?: string;
  timeout: number;
  message: string;
};

const props = withDefaults(defineProps<Props>(), {
  modelValue: false,
  placement: 'bottom-center',
  timeout: 3000,
  message: '',
  variant: 'success',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void;
}>();

const { modelValue } = toRefs(props);
const isOpen = ref(modelValue.value);
const close = () => (isOpen.value = false);
const timer = ref();
const storeAlert = useAlertStore();

const classes = computed(() => [
  props.variant === 'error' ? 'bg-red-500' : 'bg-green-500'
]);

const setAlert = (item: any) => {
  storeAlert.setAlert(item)
}

const closeToast = () => {
  isOpen.value = false
  setAlert({
    show: false,
    message: props.message,
    variant: props.variant
  })
}

watch(modelValue, (val) => {
  isOpen.value = val;
  setAlert({
    show: val,
    message: props.message,
    variant: props.variant
  })

  if (props.timeout) {
    clearTimeout(timer.value);
    timer.value = setTimeout(() => {
      isOpen.value = false;
      setAlert({
        show: false,
        message: props.message,
        variant: props.variant
      })
    }, props.timeout);
  }
});

watch(isOpen, (val) => emit('update:modelValue', val));

</script>

<template>
  <transition name="fade" mode="out-in">
    <button
      v-if="isOpen"
      type="button"
      @click="closeToast()"
      class="fixed ease-in-out delay-150 right-4 top-4 z-50 rounded-md px-4 py-2 text-white transition"
      :class="classes"
    >
        <div class="flex items-center space-x-2">
            <p class="font-bold">{{ message }}</p>
        </div>
    </button>
  </transition>
</template>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
</style>