<script lang="ts" setup>
import { defineProps, defineEmits, toRefs, ref, watch } from 'vue';

const props = defineProps({
  label: {
    type: String,
    default: 'Upload File',
  },
  modelValue: {
    type: Object,
    default: null,
  },
})

const { label, modelValue } = toRefs(props)


const emit = defineEmits([
  'input',
  'removed',
  'update:modelValue',
  'change',
])

const uploading = ref(false)
const file = ref<any>(null)
const uploadFile = ref<HTMLInputElement>()
const previewData = ref()

const handleFileUpload = (event: any) => {
  const fileTarget = event.target?.files?.[0];
  if (fileTarget) {
    const reader = new FileReader();
    reader.onload = (e) => {
      previewData.value = e?.target?.result as string;
      uploading.value = true
      file.value = fileTarget
      emit('input', fileTarget)
      emit('change', fileTarget)
      emit('update:modelValue', fileTarget)
      uploading.value = false
      // emit('input', previewData); // Emit the input event with the preview data
    };
    reader.readAsDataURL(fileTarget);
  }
};

const removeFile = () => {
  file.value = null
  if (uploadFile.value)
    uploadFile.value.value = ''

  emit('update:modelValue', null)
  emit('removed')
}

watch(
  modelValue,
  (val) => {
    file.value = val
    emit('update:modelValue', val)
    if (!val)
      removeFile()
  },
  { immediate: false },
)

watch(
  file,
  (val) => {
    emit('update:modelValue', val)
  },
  { immediate: false },
)
</script>

<template>
    <div>
      <label>{{ label }}</label>
      <div class="relative mt-2 rounded-md shadow-sm">
        <div class="flex items-center justify-center w-full">
          <label class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 hover:bg-gray-100">
            <img v-if="previewData" :src="previewData" alt="Foto Kartu Keluarga" class="mt-2 h-32" />
            <div v-else class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input @change="handleFileUpload" type="file" class="hidden" accept="image/*" />
          </label>
        </div>
      </div>
    </div>
</template>
