<script lang="ts" setup>
import { onMounted, reactive, ref, watch } from 'vue';
import FileInput from './FileInput.vue'
import {usePenerimaBantuanStore} from '@/stores/penerima-bantuan'
import {useAlertStore} from '@/stores/alert'
import {getProvinces, getCities, getDistricts} from '@/api';
import * as yup from 'yup';
import { Form as VeeForm, useField, useForm, ErrorMessage, Field } from 'vee-validate';

const formData = ref({
  name: '',
  nik: null,
  kk: null,
  age: null,
  gender: '',
  province: '',
  city: '',
  district: '',
  address: '',
  rt: '',
  rw: '',
  alasanLainnya: null,
  fotoKtp: {},
  fotoKk: {},
  penghasilan_sebelum: '',
  penghasilan_setelah: null,
  reason: null,
});

const emit = defineEmits([
  'closeModal',
])

const store = usePenerimaBantuanStore();
const storeAlert = useAlertStore();
const selectedProvince = ref()
const selectedCity = ref()
const selectedDistrict = ref()
const provinces = ref()
const cities = ref()
const districts = ref()

const schema = yup.object().shape({
  name: yup.string().required('Nama wajib diisi.'),
  nik: yup.number().required('NIK wajib diisi.'),
  kk: yup.number().required('Kartu Keluarga wajib diisi.'),
  age: yup.number().required('Umur wajib diisi.'),
  gender: yup.string().required('Jenis Kelamin wajib diisi.'),
  province: yup.object().required('Provinsi wajib diisi.'),
  city: yup.object().required('Kota/Kab wajib diisi.'),
  district: yup.object().required('Kelurahan wajib diisi.'),
  address: yup.string().required('Alamat wajib diisi.'),
  rt: yup.number().required('RT wajib diisi.'),
  rw: yup.number().required('RW wajib diisi.'),
  alasanLainnya: yup.string(),
  fotoKtp: yup
    .mixed()
    .required('Foto KTP wajib diisi.'),
  fotoKk: yup
    .mixed()
    .required('Foto Kartu Keluarga wajib diisi.'),
  penghasilan_sebelum: yup.number().required('Penghasilan Sebelum wajib diisi.'),
  penghasilan_setelah: yup.number().required('Penghasilan Setelah wajib diisi.'),
  reason: yup.string().required('Alasan Setelah wajib diisi.'),
});

onMounted(() => {
  fetchProvinces()
})

const fetchProvinces = async () => {
  try {
    const res = await getProvinces();
    provinces.value = res.data
  } catch (error) {
    console.log('error', error)
  }
};
const fetchCities = async (id: any) => {
  try {
    const res = await getCities(id);
    cities.value = res.data
  } catch (error) {
    console.log('error', error)
  }
};
const fetchDistricts = async (id: any) => {
  try {
    const res = await getDistricts(id);
    districts.value = res.data
  } catch (error) {
    console.log('error', error)
  }
};

const {values, handleSubmit, errors, resetForm} = useForm<any>({
  initialValues: formData,
  validationSchema: schema,
});


const onSubmit = (val: any) => {
  const randomValue = Math.random();
  if (randomValue > 0.5) {
    store.addNew(val)
    formData.value = {
      name: '',
      nik: null,
      kk: null,
      age: null,
      gender: '',
      province: '',
      city: '',
      district: '',
      address: '',
      rt: '',
      rw: '',
      alasanLainnya: null,
      fotoKtp: {},
      fotoKk: {},
      penghasilan_sebelum: '',
      penghasilan_setelah: null,
      reason: null,
    }
    console.log('Data berhasil dikirim!');
    storeAlert.setAlert({
      show: true,
      message: 'Data berhasil dibuat!',
      variant: 'success'
    })
    emit('closeModal')
  } else {
    console.error('Terjadi kesalahan saat mengirim data.');
    storeAlert.setAlert({
      show: true,
      message: 'Terjadi kesalahan saat mengirim data.',
      variant: 'error'
    })
  }
}

watch(
  selectedProvince,
  (val) => {
    if (val) {
      selectedCity.value = null;
      cities.value = []
      selectedDistrict.value = null;
      districts.value = []
      formData.value.province = val
      fetchCities(val.id)
    }
  },
)

watch(
  selectedCity,
  (val) => {
    if (val) {
      selectedDistrict.value = null;
      districts.value = []
      formData.value.city = val
      fetchDistricts(val.id)
    }
  },
)

watch(
  selectedDistrict,
  (val) => {
    if (val) {
      formData.value.district = val
    }
  },
)
</script>

<template>
  <div>
    <p class="text-3xl font-bold">Form Penerima Bantuan Sosial</p>
    <div class="shadow p-5 rounded-lg bg-white mt-5 border-top-primary border-t-4">
      <VeeForm v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
        <form>
          <div class="grid md:grid-cols-2 gap-4">
            <!-- Nama -->
            <div>
              <label for="name">Nama</label>
              <Field
                v-slot="{field, errors}"
                name="name"
                id="name"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="text" name="name" id="name" class="v-input" placeholder="Nama" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- NIK -->
            <div>
              <label for="nik">NIK</label>
              <Field
                v-slot="{field, errors}"
                name="nik"
                id="nik"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="nik" id="nik" class="v-input" placeholder="NIK" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Nomor Kartu Keluarga -->
            <div>
              <label for="kk">Nomor Kartu Keluarga</label>
              <Field
                v-slot="{field, errors}"
                name="kk"
                id="kk"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="kk" id="kk" class="v-input" placeholder="Nomor Kartu Keluarga" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Umur -->
            <div>
              <label for="age">Umur</label>
              <Field
                v-slot="{field, errors}"
                name="age"
                id="age"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="age" id="age" class="v-input" placeholder="Umur" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Jenis Kelamin -->
            <div>
              <label for="gender">Jenis Kelamin</label>
              <Field
                v-slot="{field, errors}"
                name="gender"
                id="gender"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <select v-bind="field" name="gender" class="v-input">
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Provinsi -->
            <div>
              <label for="province">Provinsi</label>
              <Field
                v-slot="{errors}"
                v-model="selectedProvince"
                name="province"
                id="province"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <select v-model="selectedProvince" name="province" id="province" class="v-input">
                    <option v-for="val in provinces" :key="val.id" :value="val">{{ val.name }}</option>
                  </select>
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Kab/Kota -->
            <div>
              <label for="city">Kab/Kota</label>
              <Field
                v-slot="{errors}"
                v-model="selectedCity"
                name="city"
                id="city"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <select
                    v-model="selectedCity"
                    :disabled="!formData.province"
                    class="v-input"
                    required
                  >
                    <option v-for="val in cities" :key="val.id" :value="val">{{ val.name }}</option>
                  </select>
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Kelurahan/Desa -->
            <div>
              <label for="district">Kelurahan/Desa</label>
              <Field
                v-slot="{errors}"
                v-model="selectedDistrict"
                name="district"
                id="district"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <select
                    v-model="selectedDistrict"
                    :disabled="!formData.city"
                    class="v-input"
                    required
                  >
                    <option v-for="val in districts" :key="val.id" :value="val">{{ val.name }}</option>
                  </select>
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
          </div>
          <div class="grid md:grid-cols-2 gap-4 mt-4">
            <!-- Alamat -->
            <div>
              <label for="address">Alamat</label>
              <Field
                v-slot="{field, errors}"
                name="address"
                id="address"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="text" name="address" id="address" class="v-input" placeholder="Alamat" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <div class="grid md:grid-cols-2 gap-4">
              <!-- RT -->
              <div>
                <label for="rt">RT</label>
                <Field
                  v-slot="{field, errors}"
                  name="rt"
                  id="rt"
                >
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <input v-bind="field" type="number" name="rt" id="rt" class="v-input" placeholder="RT" />
                  </div>
                  <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
                </Field>
              </div>
              <!-- RW -->
              <div>
                <label for="rw">RW</label>
                <Field
                  v-slot="{field, errors}"
                  name="rw"
                  id="rw"
                >
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <input v-bind="field" type="number" name="rw" id="rw" class="v-input" placeholder="RW" />
                  </div>
                  <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
                </Field>
              </div>
            </div>
          </div>
          <div class="grid md:grid-cols-2  gap-4 mt-4">
            <!-- Penghasilan Sebelum Pandemi -->
            <div>
              <label for="penghasilan_sebelum">Penghasilan Sebelum Pandemi</label>
              <Field
                v-slot="{field, errors}"
                name="penghasilan_sebelum"
                id="penghasilan_sebelum"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="penghasilan_sebelum" id="penghasilan_sebelum" class="v-input" placeholder="Penghasilan Sebelum Pandemi" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Penghasilan Setelah Pandemi -->
            <div>
              <label for="penghasilan_setelah">Penghasilan Setelah Pandemi</label>
              <Field
                v-slot="{field, errors}"
                name="penghasilan_setelah"
                id="penghasilan_setelah"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="penghasilan_setelah" id="penghasilan_setelah" class="v-input" placeholder="Penghasilan Setelah Pandemi" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
          </div>
          <div class="grid gap-4 mt-4">
            <!-- Alasan Membutuhkan Bantuan -->
            <div>
              <label for="reason">Alasan Membutuhkan Bantuan</label>
              <Field
                v-slot="{field, errors}"
                name="reason"
                id="reason"
              >
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <select v-bind="field" name="reason" class="v-input" required>
                      <option value="Kehilangan pekerjaan">Kehilangan pekerjaan</option>
                      <option value="Kepala keluarga terdampak atau korban Covid-19">Kepala keluarga terdampak atau korban Covid-19</option>
                      <option value="Tergolong fakir/miskin semenjak sebelum Covid-19">Tergolong fakir/miskin semenjak sebelum Covid-19</option>
                      <option value="Lainnya">Lainnya</option>
                    </select>
                  </div>
                  <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
                </Field>
            </div>
            <!-- Lainnya (Jika alasan membutuhkan bantuan = Lainnya) -->
            <div v-if="formData.reason === 'Lainnya'">
              <label for="alasanLainnya">Lainnya:</label>
              <Field
                v-slot="{field, errors}"
                name="alasanLainnya"
                id="alasanLainnya"
              >
                <div class="relative mt-2 rounded-md shadow-sm">
                  <input v-bind="field" type="number" name="alasanLainnya" id="alasanLainnya" class="v-input" placeholder="Lainnya" />
                </div>
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
          </div>
          <div class="grid md:grid-cols-2  gap-4 mt-4">
            <!-- Foto KTP -->
            <div>
              <Field
                v-slot="{field, errors}"
                name="fotoKtp"
                id="fotoKtp"
              >
                <FileInput label="Foto KTP" v-model="formData.fotoKtp" v-bind="field" />
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Foto Kartu Keluarga -->
            <div>
              <Field
                v-slot="{field, errors}"
                name="fotoKk"
                id="fotoKk"
              >
                <FileInput label="Foto Kartu Keluarga" v-model="formData.fotoKk" v-bind="field" />
                <span class="text-red-600 text-sm"> {{ errors[0] }}</span>
              </Field>
            </div>
            <!-- Tombol Submit -->
            <div class="mt-4">
              <button
                @click="handleSubmit($event, onSubmit)"
                type="button"
                class="inline-flex justify-center rounded-md border border-transparent bg-indigo-100 px-4 py-2 text-sm font-medium text-indigo-900 hover:bg-indigo-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2"
              >
                Kirim Data
              </button>
            </div>
          </div>
        </form>
      </VeeForm>
    </div>
  </div>
</template>