@import './base.css';

body {
  background: #f9f9f9;
}

.v-input {
  @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  @apply disabled:!bg-gray-200 disabled:cursor-not-allowed
}

label {
  @apply block text-sm font-bold leading-6 text-gray-900  
}