<script setup lang="ts">
import { computed} from "vue";
import Alert from '@/components/Alert.vue'
import {useAlertStore} from '@/stores/alert'

const store = useAlertStore();
const isOpen = computed(() => store.alertItem.show);
const message = computed(() => store.alertItem.message);
const variant = computed(() => store.alertItem.variant);
</script>

<template>
  <div>
    <Alert v-model="isOpen" :message="message" :variant="variant"></Alert>
    <RouterView />
  </div>
</template>

<style scoped>
</style>
